body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .grid-of-text-and-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em;
    margin-bottom: 3em;
    margin-top: 3em;
   
  }
  
  .img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
    -moz-box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
    box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
  }
  
  :root {
    --purple: #74E69D;
    --violet: #56C0A2;
    --pink: #136DA9;
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
  
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from,
    to {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(180deg);
    }
  }
  
  h1,.pietre {
    color: rgb(0, 0, 0);
    font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
    font-weight: 400;
    margin: 0px;
    
  }
  @media (max-width: 768px) {
    h1, .text2-title, .maileu {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  @media (max-width: 480px) {
    h1, .text2-title,.maileu {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: 100%;
    -webkit-text-fill-color: transparent;
    white-space: wrap;
  }
  
  .text-container-top {
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1024px) {
    .grid-of-text-and-img {
      grid-template-columns: 1fr;
    }
  
    .text-container-top{
      order: 1;
    }
  
    .img-container {
      order: 2;
    }
  }
  
  @media (min-width: 1025px) {
    .grid-of-text-and-img {
      grid-template-columns: 1fr 1fr;
    }
  }
 .buna{
  font-weight: 500;
  font-size: 2em;
  position: relative;
 bottom: 20px;
 text-decoration: underline;
 text-decoration-color: #00e09d;
 text-underline-offset: 3px;
}
.icon-mic {
  width: 30px;
  margin-left: 10px;
}

.locatie {
  display: inline-flex;
  font-weight: 500;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.address {
  font-size: 1.1em;
  text-align: center;
  
}

.button-container {
  text-align: center;
}

@media (max-width: 768px) {
  .address,.locatie {
    font-size: 0.8em;
  }
}

.icons-servicii-de-cazare {
display: grid;
align-items: center;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 1em;
row-gap: 1em;
font-size: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 768px) {
  .icons-servicii-de-cazare {
    font-size: 0.7em;
  }
}

.tarife-hidden-menu, .poze-hidden-menu, .rezervare-hidden-menu, .activitati-hidden-menu {
  color: black;
}
.facilitati-mic{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.text-facilitati{
  margin: 5px;
  text-align: center;
}
.informatii-cazare{
  margin-bottom: 2em;
}
.facilitati-unitate{
  margin-bottom: 2em;
}

@media (max-width: 1000px) {
  .facilitati-mic{
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 335px) {
  .facilitati-mic{
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.grid-tarife{
  display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em;
    margin-bottom: 3em;
    margin-top: 3em;
text-align: center;
}

.tarife-index-mic{
  text-decoration: underline;
  text-decoration-color: #00e09d;
  text-underline-offset: 3px;
}
.buna3{
  font-weight: 500;
  font-size: 2em;
  position: relative;
 text-decoration: underline;
 text-decoration-color: #00e09d;
 text-underline-offset: 3px;
}
.buna3-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.reznat{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}