html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .grid-of-text-and-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em;
    margin-bottom: 1em;
    margin-top: 3em;
   
  }
  
  .img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
    -moz-box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
    box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
  }
  
  :root {
    --purple: #74E69D;
    --violet: #56C0A2;
    --pink: #136DA9;
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
  
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from,
    to {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(180deg);
    }
  }
  
  h1,.pietre {
    color: rgb(0, 0, 0);
    font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
    font-weight: 400;
    margin: 0px;
    
  }
  @media (max-width: 768px) {
    h1, .text2-title, .maileu {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  @media (max-width: 480px) {
    h1, .text2-title,.maileu {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: 100%;
    -webkit-text-fill-color: transparent;
    white-space: wrap;
  }
  
  .text-container-top {
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1024px) {
    .grid-of-text-and-img {
      grid-template-columns: 1fr;
    }
  
    .text-container-top{
      order: 1;
    }
  
    .img-container {
      order: 2;
    }
  }
  
  @media (min-width: 1025px) {
    .grid-of-text-and-img {
      grid-template-columns: 1fr 1fr;
    }
  }
 .buna{
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 2em;
  position: relative;
 bottom: 20px;
 text-decoration: underline;
 text-decoration-color: #00e09d;
 text-underline-offset: 3px;
 margin-bottom: -25px;
}
.icon-mic {
  width: 10px;
  margin-left: 10px;
}

.locatie {
  display: inline-flex;
  font-weight: 500;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  
  text-decoration: underline;
  text-decoration-color: #00e09d;
  text-underline-offset: 3px;
  
}

.address {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: -10px;
  
}

.button-container {
  text-align: center;
}

@media (max-width: 768px) {
  .address,.locatie {
    font-size: 0.7em;
  }
}

.icons-servicii-de-cazare {
display: grid;
align-items: center;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 1em;
row-gap: 1em;
font-size: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 768px) {
  .icons-servicii-de-cazare {
    font-size: 0.7em;
  }
}

.tarife-hidden-menu, .poze-hidden-menu, .rezervare-hidden-menu, .activitati-hidden-menu {
  color: black;
}
.facilitati-mic{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.text-facilitati{
  margin: 5px;
  text-align: center;
  
  
}
.informatii-cazare{
  margin-bottom: 2em;
  
}
.facilitati-unitate{
  margin-bottom: 2em;
 margin-top: -20px;
}

@media (max-width: 1000px) {
  .facilitati-mic{
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 335px) {
  .facilitati-mic{
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.grid-tarife{
  display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em;
    margin-bottom: 3em;
    margin-top: 3em;
text-align: center;
}

.tarife-index-mic{
  text-decoration: underline;
  text-decoration-color: #00e09d;
  text-underline-offset: 3px;
}
.buna3{
  font-weight: 500;
  font-size: 2em;
  position: relative;
 text-decoration: underline;
 text-decoration-color: #00e09d;
 text-underline-offset: 3px;
 margin-bottom: -25px;
}
.buna3-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.reznat{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}
.minmargin{
  margin-bottom: -5px;
}

.contactus{  
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.underlinetext{
  display: inline;
  text-decoration: underline;
  text-decoration-color: #00e09d;
  text-underline-offset: 3px;
}

.allofit{
	margin-top: 1em;
}
  
  .carousel-container {
	border-radius: 30px;
	overflow: hidden;
	max-width: 600px;
	position: relative;
	box-shadow: 0 0 30px -20px #223344;
	margin: auto;
	z-index: 0;
  }
  @media (max-width: 768px) {
    .carousel-container {
    max-width: 1fr;
  }
  }
  @media (max-width: 450px) {
    .carousel-container {
    max-width: 330px;
  }
}
    
    /* Hide the images by default */
  .mySlides {
	display: none;
  }
  .mySlides img {
	display: block;
	width: 100%;
  }
  
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: auto;
	padding: 20px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	border-radius: 0 8px 8px 0;
	background: rgba(173, 216, 230, 0.1);
	user-select: none;
  }
  .next {
	right: 0;
	border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
	background-color: rgba(173, 216, 230, 0.3);
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	background-color: rgba(10, 10, 20, 0.1);
	backdrop-filter: blur(6px);
	border-radius: 10px;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .number {
	color: #f2f2f2;
	font-size: 16px;
	background-color: rgba(173, 216, 230, 0.15);
	backdrop-filter: blur(6px);
	border-radius: 10px;
	padding: 8px 12px;
	position: absolute;
	top: 10px;
	left: 10px;
  }
  .dots-container {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
  }
  
  /* The dots/bullets/indicators */
  .dots {
	cursor: pointer;
	height: 14px;
	width: 14px;
	margin: 0 4px;
	background-color: rgba(173, 216, 230, 0.2);
	backdrop-filter: blur(2px);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
	background-color: rgba(173, 216, 230, 0.8);
  }
  
  /* transition animation */
  .animate {
	-webkit-animation-name: animate;
	-webkit-animation-duration: 1s;
	animation-name: animate;
	animation-duration: 2s;
  }
  
  @keyframes animate {
	from {
	  transform: scale(1.1) rotateY(10deg);
	}
	to {
	  transform: scale(1) rotateY(0deg);
	}
  }
  