body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .grid-of-text-and-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
   
  }
  
  .img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
    -moz-box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
    box-shadow: -15px 15px 29px -7px rgba(0,0,0,1);
  }
  
 
  h1,.pietre {
    color: rgb(0, 0, 0);
    font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
    font-weight: 400;
    margin: 0px;
    
  }
  @media (max-width: 768px) {
    h1, .text2-title, .maileu {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  @media (max-width: 480px) {
    h1, .text2-title,.maileu {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  
  
  .text-container-top {
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1024px) {
    .grid-of-text-and-img {
      grid-template-columns: 1fr;
    }
  
    .text-container-top{
      order: 1;
    }
  
    .img-container {
      order: 2;
    }
  }
  
  @media (min-width: 1025px) {
    .grid-of-text-and-img {
      grid-template-columns: 1fr 1fr;
    }
  }
 .buna{
  font-weight: 500;
  font-size: 2em;
  position: relative;
 text-decoration: underline;
 text-decoration-color: #00e09d;
 text-underline-offset: 3px;
}

.buna3{
  font-weight: 500;
  font-size: 2em;
  position: relative;
 text-decoration: underline;
 text-decoration-color: #00e09d;
 text-underline-offset: 3px;
}
.buna3-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

@media (max-width: 768px) {
 
  .buna{
    font-size: 1.5em;
  }
}
    .buna2{
        margin-bottom: 0px;
        margin-top: 0px;
    }
.magic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.magic-35{
    margin-left: 3em;
    margin-right: 1em;
}